@{
    ViewBag.Title = "About Page";
}

<div class="jumbotron jumbotron-fluid full-width" style="margin-bottom: 0px;
    height: 90vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1)), url(/Images/Letters2.png);
    background-size: cover;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;">
    <div class="container text-white">
        <h2 class="display-4 pt-5 text-white">About AnagramAlly</h2>
        <hr class="mt-lg-5" style="border-top: 3px solid white; color: white; background-color: white;">
        <p class="lead">AnagramAlly is an app for finding anagrams in a list of words or phrases. You may enter as many words or phrases 
        as you wish in the input box, separating each by a comma, and then clicking the Submit button.</p>

        <p>The app will compare all the words/phrases you entered, and display the results in a table, showing which words/phrases
        are anagrams of each other, or just listing the word or phrase by itself in a row if there are no anagrams for it in your 
        list.</p>

        <p>There are two sample word lists available in the app - word list 1 consists of the following words:</p>
        <p>Kyoto, London, Portland, Tokyo, Wichita, Donlon, Anchorage</p>
        <p>And word list 2, which consists of the following words and phrases:</p>
        <p>
            care, team, Twelve plus One, folk, simple race, truth, race, real, meats, aloud, common, super, math, react, eleven plus two, care impels
        </p>
        <p>The two sample word lists can be analyzed by AnagramAlly by clicking either Word List 1 or Word List 2 in the menu at the top of the application</p>
        <p>Have fun using AnagramAlly!</p>
        <p>Programmer/Designer: Vincent Nowell</p>
    </div>
</div>