@{
    ViewBag.Title = "About Page";
}

<div class="jumbotron jumbotron-fluid full-width" style="margin-bottom: 0px;
    height: 90vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1)), url(/Images/Letters2.png);
    background-size: cover;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;">
    <div class="container text-white">
        <h2 class="display-4 pt-5 text-white">About AnagramAlly</h2>
        <hr class="mt-lg-5" style="border-top: 3px solid white; color: white; background-color: white;">
        <p class="lead">AnagramAlly is an app for finding anagrams in a list of words. You may enter as many words 
        as you wish in the input box, and then click the Submit button.</p>

        <p>The app will compare all the words you entered, and display the results in a table, showing which words
        are anagarams of each other, or just listing the word by itself in a row if there are no anagrams for it in your 
        list.</p>
        <p>Have fun using AnagramAlly!</p>
    </div>
</div>