body {
    padding-top: 10px;
    padding-bottom: 0;
    font-family: "arial";
    color: #00000f;
    background-color: #fffffe;
}

.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

.btn.btn-light[disabled] {
    background-color: #a0a0a0;
}

